* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.836);
  position: relative;
}

.container {
  width: 80%;
  background-color: white;
  margin: auto auto;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: rgb(61, 61, 61) !important;
}

h4.ui.header {
  color: rgb(105, 102, 96) !important;
}

div.equal.width.fields {
  padding: 1rem 0;
}
