.main_wrapper {
  width: 95%;
  margin: auto auto;
  padding: 4rem;
}

.heading {
  padding: 2rem 0 !important;
}

.btn_wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: auto auto;
}
